h1 {
    border-bottom: 2px solid #00F;
}

h2 {
    border: 2px solid #AAA; 
    padding: 5px; 
}

#datos-libro {
    border-top: 4px dotted #F00;
    border-bottom: 4px dotted #F00; 
    padding: 10px 0;
}
#contenido-libro {
    border: 2px dashed #0F0; 
    padding: 10px;
}
